/* style header */
.bg-darks {
  background-color: #010a35 !important;
}
.main .breadcrumb-item + .breadcrumb-item::before {
  color: grey !important;
}
.Aircon {
  font-family: "Roboto Slab", serif;
}
#link {
  text-decoration: none;
  color: #212529;
  display: block;
}
#link:hover {
  background-color: #ff800f;
}
#NavLink {
  text-decoration: none;
  font-family: sans-serif;
  color: gray;
}
#collapsible-nav-dropdown {
  font-family: sans-serif;
}
.dropdown-menu.show {
  display: block;
  border: none;
  opacity: 1;
  visibility: visible;
  background-color: #f6f7f8;
  padding: 8px;
}
.text-primarys {
  color: #ff800f !important;
  width: 20px;
  height: 20px;
}
#collapsible-nav-dropdown:hover {
  color: #ff800f !important;
}
.ggg:hover {
  color: #ff800f !important;
}
#spinner {
  opacity: 0;
  visibility: hidden !important;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 1000;
}
.spinner-grow {
  color: #ff800f !important;
}
/* End style header */

/* Style Feature */
.image-text-container {
  height: 300px; /* Set the height as needed */
}
.background-image {
  filter: brightness(70%); /* Optional: Adjust the brightness of the image */
}
.text-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section {
  background: linear-gradient(rgba(1, 10, 53, 0.8), rgba(1, 10, 53, 0.8)),
    url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}
.breadcrumb-item {
  font-family: "Roboto", sans-serif;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}
.texts {
  color: white !important;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  font-size: 62px;
}
.text2 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
}
.text1 {
  color: #7f8499;
}
.btn-square {
  background-color: #ff800f !important;
  width: 95px;
  height: 85px;
}
.fw-bold {
  font-family: "Roboto Slab", serif;
}
.features {
  color: #ff800f !important;
}
/* end style feature */

/* Fade-up animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style free-qoute */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    1,
    10,
    53,
    0.8
  ); /* Adjust the overlay color and opacity as needed */
}
.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the overlay color and opacity as needed */
}
.react-parallax-bgimage {
  width: 100%;
  height: 680px !important;
}
.btn {
  background-color: #ff800f !important;
  border-color: #ff800f !important;
}
/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .texts {
    font-size: 34px;
  }
}
@media only screen and (max-width: 600px) {
  .text2 {
    font-size: 32px;
  }
}
/* Small devices (sm) and above */
.custom-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  .custom-padding {
    padding: 50px;
  }
}
.btn:hover {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.text-contact {
  color: #ff800f;
}
.svg {
  color: #ff800f;
}
/* end style free-qoute */

/* Back to top */
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  border-radius: 50% !important;
  width: 48px;
  height: 48px;
}
/* style testimonail */
.img {
  width: 100px !important;
  height: 100px !important;
}
.owl-dot {
  visibility: hidden !important;
}
.owl-prev {
  margin: 0 5px !important;
  width: 45px !important;
  height: 45px !important;
  align-items: center !important;
  justify-content: center !important;
  color: #ffffff !important;
  background: var(--primary) !important;
  border-radius: 45px !important;
  font-size: 26px !important;
  transition: 0.5s !important;
}
.owl-next {
  margin: 0 5px !important;
  width: 45px !important;
  height: 45px !important;
  align-items: center !important;
  justify-content: center !important;
  color: #ffffff !important;
  background: var(--primary) !important;
  border-radius: 45px !important;
  font-size: 26px !important;
  transition: 0.5s !important;
}
.animateds {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 60%;
  transform: translateX(-50%);
}
.animateded {
  width: 60px;
  height: 60px;
  top: 50% !important;
  left: 10%;
  transform: translateY(-50%);
}
.animated {
  width: 50px;
  height: 50px;
  bottom: 12%;
  right: 30%;
}
.pulse-image {
  animation: pulse 2s infinite;
}
.pulse-images {
  animation: pulse 2s infinite !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
.owl1 {
  z-index: -1 !important;
}
/* end style testimonail */

/*Style Service */
.bgColor {
  background-color: #ff800f;
}
.iconservice {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* about page satyle */
.title {
  font-family: "Roboto Slab", serif;
  font: bold;
}
.sub-title {
  color: var(--primary);
  font-family: "Roboto Slab", serif;
}
.rounded-circle {
  background-color: var(--primary);
}
/* about page ending */





:root {
  --primary: #FF800F;
  --secondary: #001064;
  --light: #F6F7F8;
  --dark: #010A35;
}
.carousel-indicators [data-bs-target] {
  visibility: hidden !important;
}
.display-4 {
  font-family: "Roboto Slab", serif;
  color: white;
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(1, 10, 53, .8), rgba(1, 10, 53, .8));


  background-size: cover;
}

.carousel-caption {
  right: 0 !important;
  left: 0 !important;
  height: 100%;
  width: 100%;
}

.carousel-control-prev-icon {
  background-color: var(--secondary);
  border: 12px solid var(--secondary) !important;
  border-radius: 50% !important;
}

.carousel-control-next-icon {
  background-color: var(--secondary);
  border: 12px solid var(--secondary);
  border-radius: 3rem;

}

.text {
  color: #7F8499;
}


.btn.btn-primary {
  background-color: var(--primary);
  border: var(--primary);
}


.btn.btn-primary:hover {
  background-color: var(--secondary);
}

@media (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 1.8rem;


  }

  .carousel-caption p {
    font-size: 1px;


  }
}






