p {
    color: var(--primary);
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Roboto Slab", serif, sans-serif;
    font-weight: 600;
    line-height: 1.2;
  }
  
  .cardd .img::after,
  .cardd .img::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 10, 53, 0.8);
    transition: 0.5s;
  }
  
  .cardd .img::after {
    left: auto;
    right: 0;
  }
  
  .cardd:hover .img::before,
  .cardd:hover .img::after {
    width: 50%;
  }
  
  .cardd .img {
    position: relative;
  }
  .cardd:hover .social {
    opacity: 1;
  }
  
  .social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: 0.5s;
    color: white;
  }
  
  .team_desc span {
    color: var(--primary);
    font-weight: 500;
  }
  