@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,300;1,400;1,600&family=Roboto&display=swap");
:root {
  --primary: #ff800f;
  --secondary: #001064;
  --light: #f6f7f8;
  --dark: #010a35;
  --icon: #7f8499;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto Slab", serif, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #010a35;
}
.background {
  background-color: var(--dark);
}
.form {
  border-radius: 0px;
  outline: 0px;
  border: 1px solid white;
}

.form:focus {
  border-color: #ff800f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 128, 15, 0.25);
}

.btn {
  background-color: #ff800f;
}
.btnlink {
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #7f8499;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}
.btnlink::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #7f8499;
  margin-right: 10px;
}
.btnlink:hover {
  color: var(--primary) !important;
  letter-spacing: 2px !important;
  box-shadow: none;
}
.icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 38px;
  width: 38px;
  border-radius: 50% !important;
  color: var(--icon);
}
.icon:hover {
  color: white;
  border-color: #ff800f;
}
.copyright {
  font-size: large;
  padding: 25px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}
